.search {
  width: 200px;
  height: 50px;
  border-color: rgb(21, 157, 159);
  color: rgb(21, 157, 159);
  background-color: rgb(245, 245, 245);
  font-size: 20px;
  border-radius: 40px;
  margin: 50px;
}

.search:active {
  background-color: rgb(21, 157, 159);
  color: white;
  transform: translateY(4px);
}

.plus {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgb(21, 157, 159);
  font-size: 20px;
  border-radius: 50%;
  margin: 50px;
}

.plus:active {
  background-color: white;
  color: rgb(21, 157, 159);
  transform: translateY(4px);
}

.createAccount {
  width: 230px;
  height: 50px;
  color: white;
  background-color: rgb(43, 120, 228);
  border-color: black;
  font-size: 20px;
  margin: 50px;
  box-shadow: 10px 5px 5px black;
}

.createAccount:active {
  background-color: white;
  color: rgb(43, 120, 228);
  transform: translateY(4px);
}

div {
  height: 100px;
  margin-bottom: -35px;
}
